<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.oderingfood">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logoapp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoapp"
        android:supportsRtl="true"
        android:theme="@style/Theme.OderingFood"
        tools:targetApi="31">

        <service
            android:name=".Notification.FirebaseMessagingService"
            android:permission="TODO"
            tools:ignore="ExportedService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity
            android:name=".Restaurant.Order.activityBookingChooseTable"
            android:exported="false" />
        <activity
            android:name=".Restaurant.More.TuyChon_Menu"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".Restaurant.Manage.DetailWorkTimeActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Restaurant.Booking.addBookingActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileUser.ProfileUserActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Restaurant.More.Res_infor"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Restaurant.More.Voucher"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Restaurant.Manage.ListNhanVienDangLamViec"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".TransferActivity.StartResActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Restaurant.QRCode.ScanQRCode"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ProfileUser.Profile"
            android:exported="false" />
        <activity
            android:name=".Support.Settings"
            android:exported="false" />
        <activity
            android:name=".Restaurant.Manage.ListNhanVien"
            android:exported="false" />
        <activity
            android:name=".Restaurant.Manage.EmployeeManageActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Restaurant.Chat.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".Support.FullScreenActivity"
            android:exported="false" />
        <activity
            android:name=".Restaurant.Order.TablesActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Restaurant.Bottomnavigation"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ListRestaurant.ListRestaurant"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Account.Register2"
            android:exported="false" />
        <activity
            android:name=".Account.Register"
            android:exported="false" />
        <activity
            android:name=".Restaurant.Menu.MonAnActivity"
            android:exported="false" />
        <activity
            android:name=".Restaurant.Menu.A2G7Activity"
            android:exported="false" />
        <activity
            android:name=".Restaurant.Manage.a2g18Activity"
            android:exported="false" />
        <activity
            android:name=".RegisterStore.Register_Store"
            android:exported="false" />
        <activity
            android:name=".Restaurant.Menu.AddFoodToMenu"
            android:exported="false" />
        <activity
            android:name=".Account.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>